@import "tailwindcss";

:root {
  --font-mosserat: "Montserrat", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #c4a1a1;
  --color-accent: #3b82f6;
  --color-background: #262626;
  --color-background-secondary: #e5e5e5;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url("/assets/bg.svg"), linear-gradient(135deg, #684c5d, #345b83);
  background-blend-mode: luminosity;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

body > * {
  position: relative;
  z-index: 2;
}

body {
  background: url("/assets/bg.svg"), linear-gradient(135deg, #684c5d, #345b83);
  background-blend-mode: luminosity;
  background-size: cover;
  background-repeat: no-repeat;
  @apply h-full w-full;
}

html {
  @apply h-[100dvh] w-[100dvw];
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; /* iOS momentum */
}

#__nuxt {
  @apply h-[100dvh] w-[100dvw];
}

.hover {
  @apply hover:scale-[101%] transition-all ease-in-out duration-300;
}

.transition-color {
  @apply transition-colors ease-in-out duration-600 delay-50;
}

#about,
#contact {
  position: relative;
}

#about > *,
#contact > * {
  position: relative;
  z-index: 1;
}

#about::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("/assets/bg2.svg"), var(--color-neutral-900);
  background-blend-mode: soft-light;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}


#contact::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("/assets/bg3.svg"), var(--color-neutral-900);
  background-blend-mode: luminosity;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}
